PORT=4000
FRONTEND_URL=http://localhost:3000
SPOTIFY_CLIENT_ID=3e11f6f8a46a4077b49d1277ce770aa6
SPOTIFY_CLIENT_SECRET=7435f74c7c564c42af2f8eac1104c3aa
SPOTIFY_REDIRECT_URI=http://localhost:4000/auth/callback
SPOTIFY_SCOPES=user-read-email user-read-private user-top-read user-read-recently-played playlist-read-private playlist-read-collaborative
